<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:amq="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="http://activemq.apache.org/schema/core
	http://activemq.apache.org/schema/core/activemq-core-5.9.0.xsd
	http://www.springframework.org/schema/jms
	http://www.springframework.org/schema/jms/spring-jms-4.2.xsd
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd ">
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="packagesToScan" value="com.sap.moc.entity" />
		<property name="hibernateProperties">
			<props>
				<!--<prop key="hibernate.hbm2ddl.auto">create-drop</prop> -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="connection.useUnicode">true</prop>
				<prop key="connection.characterEncoding">UTF-8</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager" lazy-init="false"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql:///moc?useUnicode=true" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean> 
	<bean id="connectionFactory"
		class="org.apache.activemq.spring.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:61616"/>
	</bean>
	<bean id="queue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="jms.queue"/>
	</bean>
	<bean id="jmsTemplate"
		class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="jms.queue"/>
	</bean>
	<bean id="consumerMessageListener" class="com.sap.moc.jms.MessageListener" />
	<bean id="customizeBackOff" class="org.springframework.util.backoff.FixedBackOff">
		<property name="interval" value="1000" />
		<property name="maxAttempts" value="5" />
	</bean>	
	<jms:listener-container connection-factory="connectionFactory" back-off="customizeBackOff" >
		<jms:listener destination="jms.queue"
			ref="consumerMessageListener" method="onMessage" />
	</jms:listener-container>  
	

	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<context:component-scan base-package="com.sap.moc" />

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" propagation="REQUIRED" read-only="true" />
			<tx:method name="update*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="save*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="delete*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="reset*" propagation="REQUIRED"
				rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="txPointcut"
			expression="execution(* com.sap.moc.service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" />
	</aop:config>
	<!-- <bean id="jobBean" class="com.sap.moc.task.MakeTask" /> -->
	<!-- <bean id="jobDetail" -->
	<!-- class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> -->
	<!-- <property name="targetObject" ref="jobBean" /> -->
	<!-- <property name="targetMethod" value="execute" /> -->
	<!-- <property name="concurrent" value="false" /> -->
	<!-- </bean> -->

	<!-- <bean id="trigger" -->
	<!-- class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> -->
	<!-- <property name="jobDetail" ref="jobDetail" /> -->
	<!-- <property name="cronExpression" value="0 0 20 ? * MON-FRI" /> -->
	<!-- </bean> -->

	<!-- <bean id="startQuertz" -->
	<!-- class="org.springframework.scheduling.quartz.SchedulerFactoryBean" -->
	<!-- lazy-init="false"> -->
	<!-- <property name="triggers"> -->
	<!-- <list> -->
	<!-- <ref bean="trigger" /> -->
	<!-- </list> -->
	<!-- </property> -->
	<!-- </bean> -->
</beans>