<div class="row" ng-controller="maintenanceCtrl">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h4>
               Employee Information
            </h4>
         </div>
         <div class="panel-body">
            <div class="table-responsive">
               <p>
               <div>
                  <button class="btn btn-primary" ng-click="addEmployee()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</button>
                  <button class="btn btn-primary" ng-click="activeSelectEmployee()" ng-disabled="employee.deactive === false"><span class="glyphicon glyphicon-repeat"></span>&nbsp;Active</button>
                  <button class="btn btn-danger" ng-click="deactiveSelectEmployee()" ng-disabled="employee.active === false"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Deactive</button>
                  <input class="form-control" id="search-field" placeholder="Search..." type="text" ng-model="filter.$" />
               </div>
               </p>
               <table ng-table="tableParams" ng-form="employeeForm" class="table">
                  <colgroup>
                     <col width="1%" />
                     <col width="4%" />
                     <col width="8%" />
                     <col width="8%" />
                     <col width="8%" />
                     <col width="8%" />
                     <col width="3%" />
                     <col width="10%" />
                     <col width="6%" />
                     <col width="10%" />
                     <col width="14%" />
                     <col width="8%" />
                     <col width="6%" />
                     <col width="6%" />
                  </colgroup>
                  <tr ng-repeat="user in $data">
                     <td>
                        <input type="checkbox" ng-model="user.selected" ng-click="checkAction();"/>
                        
                     </td>
                     <td data-title="'ID'" sortable="'id'" class="text-center">
                        <span class="editable-text">{{user.id}}</span>
                     </td>
                     <td data-title="'First Name'" sortable="'firstName'" class="text-center">
                        <span class="editable-text" ng-if="!user.$edit">{{user.firstName}}</span>
                        <div ng-if="user.$edit">
                           <input class="form-control editable-input" type="text" ng-model="user.firstName" required/>
                        </div>
                     </td>
                     <td data-title="'Last Name'" sortable="'lastName'" class="text-center">
                        <span class="editable-text" ng-if="!user.$edit">{{user.lastName}}</span>
                        <div ng-if="user.$edit">
                           <input class="form-control editable-input" type="text" ng-model="user.lastName" required/>
                        </div>
                     </td>
                     <td data-title="'Cellphone'" sortable="'telNo'" class="text-center">
                        <span class="editable-text" ng-if="!user.$edit">{{user.telNo}}</span>
                        <div ng-if="user.$edit">
                           <input class="form-control editable-input" type="text" ng-maxlength="30" ng-minlength="1" ng-model="user.telNo" required/>
                        </div>
                     </td>
                     <td data-title="'Email'" sortable="'email'" class="text-center">
                        <span class="editable-text" ng-if="!user.$edit">{{user.email}}</span>
                        <div ng-if="user.$edit">
                           <input class="form-control editable-input" type="email" ng-model="user.email">
                        </div>
                     </td>
                     <td data-title="'Wechat'" sortable="'wechat'" class="text-center">
                        <span class="editable-text">{{user.wechatId}}</span>
                        
                     </td>
                     <td data-title="'Per/Area'" sortable="'personalArea'" class="text-center">
                        <span class="editable-text" ng-if="!user.$edit">{{user.personalArea}}</span>
                        <div ng-if="user.$edit">
                           <input class="form-control editable-input" type="text" ng-model="user.personalArea">
                        </div>
                     </td>
                     <td data-title="'Per/Subarea'" sortable="'personalSubarea'" class="text-center">
                        <span class="editable-text" ng-if="!user.$edit">{{user.personalSubarea}}</span>
                        <div ng-if="user.$edit">
                           <input class="form-control editable-input" type="text" ng-model="user.personalSubarea">
                        </div>
                     </td>
                     <td data-title="'Cost Center'" sortable="'department.id'" class="text-center">
                        <span class="editable-text" ng-if="!user.$edit">{{user.department.id}}</span>
                        <div ng-if="user.$edit">
                        <select class="form-control" ng-model="user.department.id" ng-options="cc.key as ( cc.key) for cc in option">
                        </select>
                        </div>
                     </td>
                     <td data-title="'Cost Center Desc'" sortable="'department.name'" class="text-center">
                        <span class="editable-text">{{user.department.name}}</span>
                        
                     </td>
                     <td data-title="'Language'" sortable="'language'" class="text-center">
                        <span class="editable-text" ng-if="!user.$edit">{{user.language}}</span>
                        <div ng-if="user.$edit">
                        <select ng-model="user.language" class="form-control editable-input">
                        <option value="ENGLISH">ENGLISH</option>
                        <option value="CHINESE">CHINESE</option>
                        </select>
                        </div>
                     </td>
                     <td data-title="'Status'" sortable="'status'" class="text-center">
                        <span ng-model="user.status"></span>
                        <span ng-if="user.status === '01'" uib-tooltip="Active" class="glyphicon glyphicon-ok-circle active-icon" style="vertical-align:middle"></span>
                        <span ng-if="user.status === '00'" uib-tooltip="Inactive" class="glyphicon glyphicon-ban-circle inactive-icon" style="vertical-align:middle"></span>
                     </td>
                     <td data-title="'Action'" class="text-center">
                        <button ng-if="!user.$edit" class="btn btn-default btn-sm" ng-click="user.$edit = true; edit(user)"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button ng-disabled="employeeForm.$invalid" ng-if="user.$edit" class="btn btn-primary btn-sm" ng-click="user.$edit = false; saveModify(user)"><span class="glyphicon glyphicon-ok"></span></button>
                        <button ng-if="user.$edit" class="btn btn-default btn-sm" ng-click="user.$edit = false; cancelEdit(user)"><span class="glyphicon glyphicon-remove"></span></button>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>